* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f6f9;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 80px auto;
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2563eb;
  margin-bottom: 15px;
}

p {
  color: #555;
  margin-bottom: 30px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1d4ed8;
}
/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #2563eb;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
}
/* Hero Section */

.hero{
    text-align:center;
    padding:170px 20px 130px;
}
.hero h1{
    font-size:64px;
    color:#2563eb;
    font-weight:700;
    line-height:1.2;
    margin-bottom:20px;
}
.hero p{
    font-size:24px;
    color:#555;
    max-width:850px;
    margin:0 auto 40px;
    line-height:1.7;
}
.hero-btn{

    margin-top:40px;

    padding:16px 35px;

    font-size:18px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.hero-btn:hover{

    background:#1747b8;

}
/* Upload Section */

.upload-section{

padding:40px;

display:flex;

justify-content:center;

}

.upload-box{

width:600px;

padding:40px;

background:white;

border-radius:15px;

box-shadow:0 0 20px rgba(0,0,0,.08);

text-align:center;

}

.upload-box h2{

margin-bottom:15px;

color:#2563eb;

}

.upload-box p{

margin-bottom:20px;

}

.upload-box input{

margin-bottom:20px;

}

.upload-box button{

padding:14px 30px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:17px;
}

.upload-btn {
  background: #2563eb;
  color: white;
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 25px rgba(37, 99, 235, 0.25);
}

.upload-btn:hover {
  background: #1d4ed8;
  transform: translateY(-3px);
}